@model SimpleETicketPlatform.Core.Models.Cart.CartSummaryViewModel
@{
    ViewData["Title"] = "Cart summary: ";
}
<h3 class="title">@ViewData["Title"]</h3>
<div class="cart-summary-container">
    <div class="items">
        @foreach (var item in Model.Items)
        {
            <div class="cart-item-row">
                <div class="image">
                    <img src="@item.PhotoURL" />
                </div>
                <div class="card-info">
                <div class="name-price">
                    <h4 class="name">@item.Name</h4>
                    <h5>@item.Price Lv. X @item.Amount</h5>
                </div>
                <div class="cart-item-subtotal">
                    <h4>@item.SubTotal</h4>
                </div>
                </div>
            </div>
        }
    </div>
    <div class="cart-actions">
        <div class="prices">
            <h4 class="total-price"><b>Total price: @Model.Price</b></h4>
            <h4 class="total-price"><b>Tax: @Model.Tax</b></h4>
            <h4 class="total-price"><b>Total price: @Model.TotalPrice</b></h4>
        </div>
        <div class="btns-order">
            <div id="paypal-btn"></div> 
            
            <a asp-action="CartDetails" asp-controller="ShoppingCart" asp-route-id="@Model.Id" class="checkout-btn">
                <b>Back</b>
            </a>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <script>
        let _total = @Html.Raw(Model.TotalPrice.ToString("F2", System.Globalization.CultureInfo.InvariantCulture));
        let _cartId = '@Model.Id';
        paypal.Button.render({
            env: 'sandbox',
            client: {
                sandbox: 'ATY4eKw9K3rOiQlQ6S42xRgZtvDIo3k4vOXW5PkyCHFvqz0uwrfHL9Y9nrYTlusye-rd8xlKGnvWM_ci'
            },
            locale: 'en_US',
            style: {
                size: 'small',
                color: 'gold',
                shape: 'pill'
            },
            commit: true,

            payment: function (data, actions) {
                return actions.payment.create({
                    transactions: [{
                        amount: {
                            total: _total,
                            currency: 'USD'
                        }
                    }]
                });
            },
            onAuthorize: function (data, actions) {
                return actions.payment.execute().then(function () {
                    var url = '@Url.Action("PlaceOrder", "Orders", new { id = "__cartId__" })';
                    url = url.replace("__cartId__", _cartId);

                    window.location.href = url;
                });
            }
        }, '#paypal-btn');
    </script>
}


<style>
    .image{
        padding: 10px;
    }
    .image img {
        height: 200px;
        width: 160px;
        
        border-radius: 2px;
    }
    .title{
        color:darkred;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .cart-summary-container{
        width: 700px;       
        box-shadow: 0 8px 15px grey;
        flex-direction: column;
        display: flex;
        padding: 20px;
        border: 1px solid darkred;
        border-radius: 4px;
    }
    .itmes{
        display: flex;        
        gap: 20px;
    }
    .cart-item-row {
        background-color: #f5f5f5;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
        position: relative;
    }
    .name-price{
        padding: 20px;
        flex-direction: column;
    }
    .btns-order{
        display: flex;
        gap: 450px;
        margin-top: 30px;
    }

    .checkout-btn{
        padding: 7px 9px;
        background-color: darkred;
        border-color: darkred;
        border-radius: 3px;
        text-decoration: none;
        color: white;
    }

    .checkout-btn:hover {
        background-color: crimson;
        border-color: crimson;
        color: white;
    }
    .card-info{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        position: relative;
    }
    .name{
        color: darkred;
    }  
    .cart-item-subtotal{
        position: absolute; 
        bottom: 20px;
        right: 20px;
    }
    .cart-actions{
       margin-top:30px;
       margin-bottom: 15px;
    }
</style>
