@model SimpleETicketPlatform.Core.Models.Cart.CartSummaryViewModel
@{
    ViewData["Title"] = "Cart summary: ";
}
<h3 class="title">@ViewBag.Title</h3>
<div class="cart-summary-container">
    <div class="items">
        @foreach (var item in Model.Items)
        {
            <div class="cart-item-row">
                <div class="image">
                    <img src="@item.PhotoURL" />
                </div>
                <div class="name-price">
                    <h4>@item.Name</h4>
                    <h5>@item.Price Lv. X @item.Amount</h5>
                </div>
            </div>
        }
    </div>
    <div class="cart-actions">
        <div class="prices">
            <h4 class="total-price"><b>Total price: @Model.TotalPrice</b></h4>
            <h4 class="total-price"><b>Tax: @Model.Tax</b></h4>
            
        </div>
        <div class="btns-order">
            @* 
            @*<a asp-action="PlaceOrder" asp-controller="Orders" asp-route-id="@Model.Id" class="checkout-btn">
            <b>Checkout</b>
            </a>*@
            <div id="paypal-btn"></div> 
            
            <a asp-action="CartDetails" asp-controller="ShoppingCart" asp-route-id="@Model.Id" class="checkout-btn">
                Back
            </a>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <script>
        let _total = @Html.Raw(Model.TotalPrice);
        paypal.Button.render({
            env: 'sandbox',
            client: {
                sandbox: 'ATY4eKw9K3rOiQlQ6S42xRgZtvDIo3k4vOXW5PkyCHFvqz0uwrfHL9Y9nrYTlusye-rd8xlKGnvWM_ci'
            },
            locale: 'en_US', 
            style: {
                size: 'small',
                color: 'gold',
                shape: 'pill'
            },
            commit: true,

            payment: function (data, actions) {
                return actions.payment.create({
                    transactions: [{
                        amount: {
                            total: _total,
                            currency: 'USD'
                        }
                    }]
                });
                
            },
            onAuthorize: function (data, actions) {
                
            }
        }, '#paypal-btn');
    </script>
}

<style>
    .image{
        padding: 10px;
    }
    .image img {
        height: 200px;
        width: 160px;
        
        border-radius: 2px;
    }
    .title{
        color:darkred;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .cart-summary-container{
        width: 700px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        display: flex;
        padding: 20px;
    }
    .itmes{
        display: flex;
        
        gap: 20px;
    }
    .cart-item-row {
        background-color: #f5f5f5;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    .name-price{
        padding: 20px;
        flex-direction: column;
    }
    .btns-order{
        display: flex;
        gap: 450px;
        margin-top: 30px;
    }

    .checkout-btn{
        padding: 8px 10px;
        background-color: darkred;
        border-color: darkred;
        border-radius: 3px;
        text-decoration: none;
        color: white;
    }

    .checkout-btn:hover {
        color: crimson;
            border-color: crimson;
    }
</style>
