@model SimpleETicketPlatform.Core.Models.Cart.CartIndexViewModel
@{
    ViewData["Title"] = "See cart details here: ";
}
<h3 class="title">@ViewBag.Title</h3>
<div class="cart-details-container">
    
    <div class="cart-information">
        <h5><b>Amount</b></h5>
        <h5><b>Movie</b></h5>
        <h5><b>Price per Movie</b></h5>
        <h5><b>Total</b></h5>
    </div>
    <div class="items">
        @foreach (var item in Model.Items)
        {
            <div class="cart-item-row">
            <h4>@item.Amount</h4>
            <h4>@item.Name</h4>
            <h4>@item.Price</h4>
            <h4>@item.SubTotal</h4>
            <a asp-action="DeleteFromCart" asp-controller="ShoppingCart" asp-route-id="@item.Id">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="darkred" class="bi bi-x" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                    </svg>
            </a>
            </div>
        }
    </div>
    <div class="cart-actions">
        <h5 class="total-price"><b>Total price: @Model.TotalPrice</b></h5>
        <a asp-action="GetOrderSummary" asp-controller="Orders" asp-route-id="@Model.Id" class="checkout-btn">
            <b>Proceed to checkout</b>
        </a>
    </div>
</div>
<style>
    .title {
        margin-top: 10px;
        padding-bottom: 10px;
        font-size: 35px;
        text-align: center;
        color: darkred;
    }

    .cart-details-container {
        display: flex;
        width: 950px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid darkred;
        border-radius: 4px;
        background-color: #f9f9f9;
        margin: 20px auto;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    }

    .cart-information{
        display: flex;
        width: 100%;
        color:white;
        gap: 140px;
        padding: 8px 10px 8px 30px;
        background-color:darkred;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .cart-item-row{
        display: flex;
        flex-wrap: wrap;
        gap:120px;
        padding: 30px 8px 8px 8px;
        border-bottom: 1px solid grey;
        width:100%;
        margin-left:10px;
        max-height: 100px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .cart-actions{
        display: flex;
        gap:100px;
        margin-top:20px;
        margin-bottom: 20px;
        float:left;
        width: 50%;
    }
    .checkout-btn{
        padding:8px 15px;
        color: white;
        background-color: darkred;
        border: 1px solid darkred;
        border-radius: 4px;
        cursor:pointer;
        text-decoration:none;
        transition: background-color 0.3s;
    }

    .checkout-btn:hover {
        background-color: crimson;
        border: 1px solid crimson;
            text-decoration: none;
            color: white;
    }
    .items{
        flex-direction: column;
    }
</style>
